@page
@model Delta.Polling.WebRP.Pages.Admin.Groups.IndexModel

@{
    ViewData["Title"] = "Groups";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="text-decoration-none"
               asp-page="/Index">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">
            @ViewData["Title"]
        </li>
    </ol>
</nav>

@if (TempData["success"] is not null)
{
    <div class="alert alert-primary alert-dismissible fade show col-5" role="alert">
        <strong>Success!</strong> @TempData["success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["failed"] is not null)
{
    <div class="alert alert-danger alert-dismissible fade show col-5" role="alert">
        <strong>Failed!</strong> @TempData["failed"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h1 class="h3 mb-2 text-gray-800">Daftar Grup</h1>
<p class="mb-4">
    DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank"
                                                               href="https://datatables.net">official DataTables documentation</a>.
</p>

<div class="card">
    <div class="col-sm-12" style="padding:20px">
        <a class="btn btn-primary" onclick="handleCreateGroup()">
            Create
        </a>
    </div>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div id="table-pagination" class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Group Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Group Name</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @for (int i = 0; i < 3; i++)
                        {
                            <tr>
                                <td>
                                    <p class="card-text placeholder-glow">
                                        <span class="placeholder" style="width: 100%;"></span>
                                    </p>
                                </td>
                                <td>
                                    <p class="card-text placeholder-glow">
                                        <span class="placeholder" style="width: 100%;"></span>
                                    </p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>

<script>
    $(document).ready(function () {
        $('#table-pagination').load('?handler=DataTable');
    });

    function handleToPage(page, pageSize) {
        $('#table-pagination').load(`?handler=DataTable&p=${page}&ps={pageSize}`);
    }

    function handleCreateGroup() {
        fetch(`?handler=CreateGroup`)
            .then((response) => {
                return response.text();
            })
            .then((htmlText) => {
                $('#form-modal .modal-body').html(htmlText);
                $('#form-modal .modal-title').html("Create Group");
                $('#form-modal').modal('show');
                $.validator.unobtrusive.parse('#create-group');
            })
    }

</script>
