@page
@model IndexModel

@{
    ViewData["Title"] = "Dashboard";
    ViewBag.CurrentMenu = MenuFor.ContributorIndex;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="text-decoration-none"
               asp-page="/Index">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">
            Contributor
        </li>
    </ol>
</nav>

<h1>@ViewData["Title"]</h1>
