@page
@model MyClaimsModel

@{
    ViewData["Title"] = "My Claims";
    ViewBag.CurrentMenu = MenuFor.AccountMyClaims;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="text-decoration-none"
               asp-page="/Index">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">
            @ViewData["Title"]
        </li>
    </ol>
</nav>

<h1>@ViewData["Title"]</h1>

<table class="table table-hover table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Type</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in User.Claims)
        {
            <tr>
                <td>@claim.Type</td>
                <td class="is-breakable">@claim.Value</td>
            </tr>
        }
    </tbody>
</table>
