@* @model Delta.Polling.FrontEnd.Logics.Member.Polls.Commands.StartPoll?;

<form asp-page-handler="StartPoll" method="post" class="col-8">
    <input type="hidden" asp-for="@Model.PollId" value="@Model.PollId" class="form-control" required>

    <!-- Button trigger modal -->
    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#startPoll">
        Add Choice
    </a>

    <!-- Modal -->
    <div class="modal fade" id="startPoll" tabindex="-1" aria-labelledby="startPoll" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="startPollLabel">Start Poll</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Start Poll</button>
                </div>
            </div>
        </div>
    </div>
</form>
 *@
