<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Polling Contributor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Delta.Polling.WebRP.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
            <div class="container-fluid">
                <a class="navbar-brand text-warning" asp-page="Index">Polling-Delta2</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        @if (User.IsInRole(RoleNameFor.Contributor))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Contributor/Index">Contributor</a>
                            </li>
                        }

                        @if (!User.Identity!.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Account/Login">Login</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <div class="d-flex flex-row align-items-center ms-4">
                                    <span class="nav-link text-white">
                                        Welcome, @User.Identity.Name
                                    </span>
                                    <span class="text-white">
                                        |
                                    </span>
                                    <a class="nav-link text-white" style="cursor: pointer;" asp-page="/Account/MyClaims">
                                        My Claims
                                    </a>
                                    <span class="text-white">
                                        |
                                    </span>
                                    <!-- Button trigger modal -->
                                    <a class="nav-link" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modalLogout">
                                        Logout
                                    </a>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="modalLogout" tabindex="-1" aria-labelledby="modalLogoutLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Logout!</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure want to Logout ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <a class="btn btn-outline-primary" asp-page="/Account/Logout">Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Polling Razor Pages
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>