@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <!--Profile Card 1-->
    <div class="col-md-6">
        <div class="card profile-card-3">
            <div class="background-block">
                <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background" />
            </div>
            <div class="profile-thumb-block">
                <img src="~/img/profile3.jpg" alt="profile-image" class="profile" />
            </div>
            <div class="card-content">
                <h2>
                    Anggira<small>Lead Programmer</small>
                </h2>
                <div class="icon-block">
                    <a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!--Profile Card 2-->
    <div class="col-md-6">
        <div class="card profile-card-3">
            <div class="background-block">
                <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background" />
            </div>
            <div class="profile-thumb-block">
                <img src="~/img/profile2.jpg" alt="profile-image" class="profile" />
            </div>
            <div class="card-content">
                <h2>
                    Joel<small>Junior Programmer</small>
                </h2>
                <div class="icon-block">
                    <a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
