@page
@model ErrorModel

@{
    ViewData["Title"] = "Error";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="text-decoration-none"
               asp-page="/Index">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">
            @ViewData["Title"]
        </li>
    </ol>
</nav>

<h1 class="text-danger">
    Oops. Something went wrong.
</h1>
<h5>
    But don't worry. Just contact your administrator for help.
</h5>

@if (!string.IsNullOrWhiteSpace(Model.ExceptionMessage))
{
    <div class="alert alert-danger my-3">
        @Model.ExceptionMessage
    </div>
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

@if (!string.IsNullOrWhiteSpace(Model.SourcePath))
{
    <p>
        <strong>Error Source Path:</strong> <code>@Model.SourcePath</code>
    </p>
}
